span .center{
    --background:aliceblue;
    --color: black;
    
}
#backcolor{
    background-color: aliceblue;
}

p{
    text-align: justify;
}
.center{
    margin-right: auto;
    margin-left: auto;

}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 60%;
       
    
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
