<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card >
  <img src="../assets/casarao_tech.jpg"/>
  <ion-card-content>
    <ion-card-title>
      {{name}}
      </ion-card-title>
    <p>
      The most popular industrial group ever, and largely
      responsible for bringing the music to a mass audience.
      lllllllllllllllllllllllllllllllllllllll
      lllllllllllllllllllllllllllllllllllllllllllllll
      llllllllllllllllllllllllllllllllllllllllllllllllll
      llllllllllllllllllllllllllllllllllllllllllllllllll
      llllllllllllllllllllllllllllllllllllllllllllllll
    </p>
    <p>Lat: {{ lat }}
      Lang: {{ lng }}</p>
  </ion-card-content>
  <ion-input [(ngModel)]="name"></ion-input>
  <ion-button (click)="locate()" class="square" color="dark">
    localizar
  </ion-button>
  <ion-button (click) = "addCoor()" class ='square' color = 'dark'>
    salvar
  </ion-button>
  <ion-button (click) = "NearPlace()" class ='square' color = 'dark'>
    buscar
  </ion-button>
</ion-card>

</ion-content>

