<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
  <img src="../assets/casarao_tech.jpg"/>
  <ion-card-content>
    <ion-card-title>
      Nine Inch Nails Live
      </ion-card-title>
    <p>
      The most popular industrial group ever, and largely
      responsible for bringing the music to a mass audience.
      lllllllllllllllllllllllllllllllllllllll
      lllllllllllllllllllllllllllllllllllllllllllllll
      llllllllllllllllllllllllllllllllllllllllllllllllll
      llllllllllllllllllllllllllllllllllllllllllllllllll
      llllllllllllllllllllllllllllllllllllllllllllllll
    </p>
    <p>Lat: {{ lat }}
      Lang: {{ lng }}</p>
  </ion-card-content>
  <ion-button (click)="locate()" class="square" color="dark">
    localizar
  </ion-button>
</ion-card>
</ion-content>
