span .center{
    --background:aliceblue;
    --color: black;
    
}
#backcolor{
    background-color: aliceblue;
}

p{
    text-align: justify;
}
.center{
    margin-right: auto;
    margin-left: auto;

}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 60%;
       
    
}

.pd-top-50{
    padding-top: 50px;
}

.square{
    --border-radius: 0%;
    --padding-start: 20px;
    --padding-end: 20px;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
