
<ion-content>

    <ion-card id = "backcolor" class="ajust" >
        <ion-card-content>
          <h2>
            <strong>
              Bem vindo ao Turi, vou lhe ajudar a conhecer melhor o centro histórico de São Luís.
            </strong>
          </h2>
        </ion-card-content>
        
      </ion-card>
      <ion-card id = "backcolor" >
          <ion-card-content>
            <img src="../assets/centroRua.jpg" alt="">
            <h2 id='distance'>
              <strong>
                  Para começar, basca clicar em Centro Histórico.
                  Conforme for andando por ele irei lhe contando a história
                  dos casarões mais próximos.
              </strong>
              
            </h2>
          </ion-card-content>
          
        </ion-card>

</ion-content>


